/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 7, 2023, 11:28:54 PM
    Author     : Dell
*/

.validate.success input {
  border-color: #09c372;
}

/* display error message */
.validate .error {
  color: #ff3860;
  font-size: smaller;
  /* height: 10px; */
}
